/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap'); */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* variables */

:root{
  --bgr-primary-1: #6698ff;
  --bgr-secondary-2: #f2f2f2;
  --txt-primary: #4d4d4d;
}


*{
  box-sizing: border-box;
  

}
  

html, body{
  margin: 0;
  padding: 0;
  width: 100;
  /* overflow-x: hidden;          es que si no, no funciona position stcky del navBar*/ 
  color: #4d4d4d;
  font-family: 'Work Sans', sans-serif;
}

p{
  font-size: 15px;
  line-height: 1.65;
}

li{
  list-style: none;
  
}

img{
  width: 100%
}

span{
  font-size: 14px
}

a{
  text-decoration: none;
  color: inherit;
  
}

h1{
  font-size: 2rem;
}

.section{
  width: 100vw;
  display:flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
  
 


}

.backgroundImg{
  background: transparent url(../images/banner-bg2.jpg) left bottom no-repeat;
  background-size: cover;
}

.backgroundGrad{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, transparent 0%, #f4f4f4 15%);
}

.container{
  width: 100%;
  display: block;
  max-width: 1200px;
  padding: 0px;
  margin: 0px;

}

.navBar{
  background-color: var(--bgr-primary-1);
  position: sticky;
  position: -webkit-sticky;
  left: 0;
  top: 0; /* required */
  z-index: 999;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  /* height: 50px; */

  
}

.preHeading{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em !important;
  color: #4D4D4D;
}
.dblock{
  display: block;
}

.dnone{
  display: none;
}

.flex{
  display: flex;
}



/* slider  */

.slide{
  width: 164px;
}

.slick-slide{
  margin: auto;
  opacity: 0.4;
  transition: all .8s;
}

.slick-slide.slick-center {
  transform: scale(1.2);
  opacity: 1;
}






/* media Querys */


@media (max-width: 1000px){
  .navBar{
    background-color: #fff;
    box-shadow: none;
  }
}

@media (max-width: 1024px){
  .slide{
    margin: auto;
    width: 200px
  };
}
