/* @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap'); */

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* variables */

:root{
  --bgr-primary-1: #6698ff;
  --bgr-secondary-2: #f2f2f2;
  --txt-primary: #4d4d4d;
}


*{
  box-sizing: border-box;
  

}
  

html, body{
  margin: 0;
  padding: 0;
  width: 100;

  
  font-family: 'Work Sans', sans-serif;
}

p{
  font-size: 15px;
}

li{
  list-style: none;
  
}

img{
  width: 100%
}

span{
  font-size: 14px
}

a{
  text-decoration: none;
  color: inherit;
  
}

.section{
  width: 100vw;
  display:flex;
  padding: 0px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  position: relative;
 


}

.container{
  width: 100%;
  display: block;
  max-width: 1200px;
  padding: 0px;
  margin: 0px;

}

.navBar{
  background-color: var(--bgr-primary-1);
  position: sticky;
  top: 0; /* required */
  z-index: 999;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.3);
  /* height: 50px; */

  
}

.preHeading{
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4em !important;
  color: #4D4D4D;
}
.dblock{
  display: block;
}

.dnone{
  display: none;
}

.flex{
  display: flex;
}

/* divider */

.custom-shape-divider-bottom-1611955911 {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  
  line-height: 0;
}

.custom-shape-divider-bottom-1611955911 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-1611955911 .shape-fill {
  fill: #6698FF;
}

.custom-shape-divider-bottom-works {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  
  line-height: 0;
}

.custom-shape-divider-bottom-works svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-bottom-works .shape-white {
  fill: #fff;

}

.custom-shape-divider-bottom-engage {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 80px;
  width: 100%;
  
  line-height: 0;
 
  
}

.custom-shape-divider-bottom-engage svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;

  
}

.custom-shape-divider-bottom-engage .shape-gray {
  fill: #f2f2f2;

  
}

/* slider  */

.slide{
  width: 164px;
}

.slick-slide{
  margin: auto;
  opacity: 0.4;
  transition: all .8s;
}

.slick-slide.slick-center {
  transform: scale(1.2);
  opacity: 1;
}






/* media Querys */


@media (max-width: 1200px){
  .navBar{
    background-color: #fff;
    box-shadow: none;
  }
}

@media (max-width: 1024px){
  .slide{
    margin: auto;
    width: 200px
  };
}
